@model IEnumerable<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
    ViewData["datatable"] = "kt_datatable";
    ViewData["Description"] = "We should list and mange all categories here!";
}

<div class="row gx-6 gx-xl-9">
    <div class="col-lg-12 ">
        @if(!Model.Any()) 
        {
        <!--begin::Card-->
        <div
            class="alert alert-dismissible bg-light-warning border border-warning border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10">
            <!--begin::Icon-->
            <i class="ki-duotone ki-information-2 fs-2hx text-warning me-4 mb-5 mb-sm-0"><span
                    class="path1"></span><span class="path2"></span><span class="path3"></span></i> 
            <!--end::Icon-->

            <!--begin::Content-->
            <div class="d-flex flex-column pe-0 pe-sm-10">
                <h5 class="mb-1">No any categories found !</h5>
                <span>The alert component can be used to highlight certain parts of your page for higher content
                    visibility.</span>
            </div>
            <!--end::Content-->

        </div>
        <!--end::Card-->
        } else {
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon fs-1 position-absolute ms-4">...</span>
                        <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Report" />
                    </div>
                    <div id="kt_datatable_example_1_export" class="d-none"></div>
                </div>
                <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                    <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                        Export Report
                    </button>
                    <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-export="copy">
                            Copy to clipboard
                            </a>
                        </div>
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-export="excel">
                            Export as Excel
                            </a>
                        </div>
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-export="csv">
                            Export as CSV
                            </a>
                        </div>
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-kt-export="pdf">
                            Export as PDF
                            </a>
                        </div>
                    </div>

                    <div id="kt_datatable_example_buttons" class="d-none"></div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="kt_datatable" exportFileName="Ahmed Elroba" class="table table-hover table-rounded table-striped border gy-7 gs-7">
                    <thead>
                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                            <th>#</th>
                            <th>Name</th>
                            <th>Is Deleted</th>
                            <th>Created On</th>
                            <th>Last Update On</th>
                            <th non-exportable="yes">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var category in Model)
                        {
                            <partial name="~/Views/Categories/Modal/_CategoryRow.cshtml" model="@category" />
                        }
                    </tbody>
                </table>
            </div>
        }
       
    </div>
</div>
<partial name="Modal/_modal" />
@section toolbar_buttons {
    <button type="button" class="btn btn-bg-light btn-outline btn-outline-dashed hover-scale" 
            data-bs-toggle="modal" 
            data-bs-target="#categoryModal"
            onclick="onClickNewOrUpdateCategory('Create', $(this))"
            >
        New Category
    </button>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script src="~/js/pages/categories.js" asp-append-version="true"></script>
    
}